<div class="container-fluid">
  <section class="row gameInfo">
    <img src="<%= game.image_url %>" class="col-6" />
    <div class="col-6">
      <h2 class="mb3"><%=game.title%></h2>
      <div>
        <span><%=game.release_date%></span>,
        <span><%=game.genre%></span>
        <p class="mt-3"><%=game.description%></p>
      </div>
    </div>
  </section>
  <h2 class="text-center mt-5">Highscores</h2>
  <section class="row playersScores">
    <!-- loopa alla score för spelet-->
    <!-- kontrollera om det finns en hög poäng när jag skapar nytt spel -->
    <% if(highscores[0].points !== null) { %> 
      <% let index = 1 %>
      <% highscores.forEach(({player, score_date,points})=> { %>
    <div class="game-scores mb-3 px-3 py-3 d-flex justify-content-between">
      <p><strong><%=index++ %>. </strong><%= player%>, <%= score_date%></p>
      <p><%= points%></p>
    </div>
    <% }) %> 
    <% } else { %>
    <p class="text-center">There is no score on this game yet</p>
    <% } %>
  </section>

  
</div>
